.csv filter=lfs diff=lfs merge=lfs -text
Ingreso,[[:space:]]Gasto[[:space:]]y[[:space:]]Financiamiento[[:space:]]Público[[:space:]]([[:space:]]2011[[:space:]]-[[:space:]]Actual[[:space:]])[[:space:]]de[[:space:]]SHCP.csv filter=lfs diff=lfs merge=lfs -text
Ingreso_Gasto_Financiamiento_Pena_AMLO_2012-2024.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
